@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes floatUp {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.8;
  }
  50% {
    transform: translateY(-50vh) scale(1.05);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) scale(1.1);
    opacity: 0;
  }
}

.animate-floatUp {
  animation: floatUp linear forwards;
}
