services:
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    env_file: .env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: backend_app
    env_file: .env
    depends_on:
      - db
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    environment:
      - DATABASE_URL=${DATABASE_URL}
    volumes:
      - ./code/backend:/app
      - /app/node_modules

  frontend:
    build: ./frontend
    container_name: frontend_app
    env_file: .env
    depends_on:
      - backend
    ports:
      - "${FRONTEND_PORT}:80"

volumes:
  db_data: